@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import 'global.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: 1312px;
    @media (min-width: 1080px) {
      padding-inline: 0;
    }
  }
}

body {
  @apply font-manrope;
}

.text-md {
  font-weight: 600;
}
.text-xs{
  font-weight: 400;
}
.text-2xs{
  font-weight: 600;
}
.text-3xs{
  font-weight: 400;
}
.text-4xs{
  font-weight: 600;
}
.text-sm{
  font-weight: 500;
}
.text-2sm{
  font-weight: 400;
}
.text-3sm{
  font-weight: 600;
}
.text-xxs{
  font-weight: 400;
}
.text-2xxs{
  font-weight: 500;
}
.text-3xxs{
  font-weight: 600;
}